.container {
  width: 95% !important;
}

body {
  background-image: url('./assets/background.png');
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  padding: 20px;
}

.left {
  margin-top: 190px !important;
}

.left:nth-child(1) {
  text-transform: uppercase;
}

.left h1 {
  text-transform: capitalize;
  font-family: 'Poor Story', cursive;
  font-size: 50px;
  line-height: 10px;
}

.left h2 {
  text-transform: capitalize;
  font-family: 'Playfair Display SC', serif;
  font-size: 40px;
  line-height: 20px;
}

.left h3 {
  text-transform: capitalize;
  font-family: 'Playfair Display SC', serif;
  font-size: 40px;
  line-height: 20px;
}

.left .read-more {
  margin-top: 30px;
  font-size: 13px;
}

.left .read-more img {
  margin-left: 15px;
}

.left .ellipse {
  margin-left: 40em;
  text-align: center;
}

.right .social-icons {
  margin-top: 130px;
}

.right .social-icons a {
  margin: 20px;
  color: #ffffff;
}

.right .social-icons i {
  margin-bottom: 50px;
  font-size: 20px;
}

.right .nav-icons {
  margin-top: 80px;
}

.right .nav-icons p img {
  width: 15px;
}
